<p id="notice"><%= notice %></p>

<h1>Events</h1>
<div class="row">
<div class="container">
  <table>
    <thead>
 
      <tr>
        <th id="sujevent">Suject</th>
        
        <th>Description</th>
</div>

        <th colspan="8"></th>
      </tr>
    </thead>
  </p>


<tbody>
  <% @events.each do |event| %>
  <tr>
    <td><%= event.suject %></td>
    <td><%= event.description %></td>
    <td><%= link_to 'Show', event %></td>

    <!--   authorization -->

    <% if event.user == current_user %>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
</div>



<div class="container">
<button>
<%= link_to 'New Event', new_event_path %>
</button>
<button style="margin-left:15px;">

<%= link_to 'Home', posts_path %>
</button>

</div>