<p id="notice"><%= notice %></p>

<p>
  <strong>Suject:</strong>
  <%= @event.suject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'New Event', new_event_path %>
<%= link_to 'Back', events_path %>
