
<div id="log">
  <h1>TheNEWS@CHURCH</h1><br>
  <div id="img1">
    <%= image_tag("logo.jpg", :width => 250, :height => 400,)  %>
  </div>

  <div class="row">
    <div class="col s7 push-s5">

<video class="responsive-video" controls>  
       <source src="/assets/cool.mp4" type="video/mp4" />
       <source src="/assets/cool.ogg" type="video/ogg" />
       <source src="/assets/cool.webm" type="video/webm" />
       Your browser does not support the video tag.

     </video> <p style="color:orange; font-size:25px;">see what we about here..</p>

     

   </div>

   <div class="col s4 pull-s6">
    <div id="sinin">
      <div class="container">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field" style="color:white;>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field" style="color:white;" > 
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field1">
        <%= f.check_box :remember_me %>x`

          <%= f.label :remember_me %>

        </div>
        <button type="button" class="btn btn-primary" style="color:green;"><%= f.submit "Log in" %>
        </button>


        <% end -%>




        <% end %>
        <div class="sharelink">
          <%= render "devise/shared/links" %>

        </div>
        <div class="intro">
          <h4 style="color:orange;">OUR PURPOSE </h4>
          <p>is to make sure our brothers and sisters not miss much. in church<br> News@church is a place where 
            christian share notes they took during church services<br>
            and share words of encouragement, to support their brothers and siters in the Lord.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="video">

  </div>  
  <div id="container">
    <div class="col">
      <div class="qview">
        <h4 style="color:orange;">Quick taste of the Good new
        </h4>
        <p class="text-overflow">
          The messeage of sun
        </p>
      </div>




    </div>







