
<div id="log">
  <h1>TheNEWS@CHURCH</h1><br>
  <div id="img1">
    <%= image_tag("logo.jpg", :width => 250, :height => 400,)  %>
  </div>

  <div class="row">
    <div class="col s7 push-s5">

<video class="responsive-video" controls>  
       <source src="/assets/cool.mp4" type="video/mp4" media="all and (max-width:480px)" />
       <source src="/assets/cool.ogg" type="video/ogg" media="all and (max-width:480px)" />
       <source src="/assets/cool.webm" type="video/webm" />
       Your browser does not support the video tag.

     </video> <p style="color:orange; font-size:25px;">see what we about here..</p>


     

   </div>

   <div class="col s4 pull-s6">
    <div id="sinin">
      <div class="container">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field" style="color:white;>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field" style="color:white;" > 
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field1">
        <%= f.check_box :remember_me %>x`

          <%= f.label :remember_me %>

        </div>
        <button type="button" class="btn btn-primary" style="color:green;"><%= f.submit "Log in" %>
        </button>


        <% end -%>




        <% end %>
        <div class="sharelink">
          <%= render "devise/shared/links" %>

        </div>
        <div class="intro">
          <h4 style="color:orange;">OUR PURPOSE </h4>, 
          <p> Is to make sure that our brothers sisters  who couldn't attend service are made aware of what happened during church.<br> </p><p>News@church is where christian arrage events <br>for nembers at the Church
       
          share notes taken during Church, <br>and to support one another with love, and with words of encouragement.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="video">

  </div>  
  <div id="container">
    <div class="col">
      <div class="qview">
        <h4 style="color:orange;">See What we're about!!!
        </h4>
        <p class="text-overflow">
          
        </p>
      </div>




    </div>







