<div class="fullpage">



  <!--     user interac part of page. -->


  <hr width="75%"; color=" orange";>

  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
         <%= image_tag("note.jpg", :width => 10, :height => 450,)  %>
         <span class="card-title">Saturday's services</span>
       </div>
       <div class="card-content">
        <p>Read and relive Saturday's service.See what you missed.</p>
      </div>
      <div class="card-action">
        <a href="home/sat">Saturday's Services</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
         <%= image_tag("outactive.jpg", :width => 10, :height => 450,)  %>
         <span class="card-title">FUN NIGHT</span>
       </div>
       <div class="card-content">
        <p>Enjoy life, live it to the fullest everyday. Spend time and have fun with your brothers and sisterss</p>
      </div>
      <div class="card-action">
        <a href="home/fun">FUN NIGHT</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
         <%= image_tag("travel.jpg", :width => 10, :height => 450,)  %>
         <span class="card-title">TRAVEL</span>
       </div>
       <div class="card-content">
        <p>Go out, and share the gospel! Fellowship with other churches in the Body of Christ. Get out of your comfort zone and testify what God has done for you. </p>
      </div>
      <div class="card-action">

        <a href="home/out">Activities</a>
      </div>
    </div>

  </div>

</div>

</div>
<hr width="75%" color=" orange";>




<div class="">
  <div class="row"> 
    <!-- the message of sunday -->

    <div class="col s12" style="text-align:center;font-family:Trebuchet"><h1>SUNDAY SERVICE</h1>
    </div>
    <div class="col s6"><h3 style="text-align:center;font-family:impact">THE MESSAGE</h3><br><p style="font-size:20px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
      Where does it come from?
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 f 

      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

    </div>

    <!--  the key message -->


    <div class="col s4">
      <h3>  KEY OF THE MESSAGE</h3>
      <div id="keyms">
        <li ">Lorem Ipsum is simply dummy .</li><br>

        <li>c typesetting, remaining essentially unchanged.versions of 
          Where does it come from?</li><br>
          <li>  Lorem Ipsum has been the industry'secimen book </li><br>
          <li>c typesetting, remaining essentially unchanged.versions of 
            Where does it come from?</li><br>
            ere does it come from?</li><br>
            <li>c typesetting, remaining essentially unchanged.versions of 
              Where does it come from?</li><br>
            </div>
            <br>
            <div class="row">
              <div class="col s12 m9">
                <div class="card">
                  <div class="card-image">
                   <%= image_tag("prayer1.jpg", :width => 10, :height => 250,)  %>
                   <span class="card-title">NEED A PRAYER</span>
                 </div>
                 <div class="card-content">
                  <p>Prayer is the key that can open any door. Whatever it is that you may be going through. God can make a way, where there seems to be none. Prayer is also thee # 1 way to stay connected to Him. request a prayer.
.</p>
                  </div>
                  <div class="card-action">
                    <a href="home/prayer">Need a prayer</a>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m8">
                  <div class="card">
                    <div class="card-image">
                     <%= image_tag("event1.jpg", :width => 10, :height => 250,)  %>
                     <span class="card-title">Events</span>
                   </div>
                   <div class="card-content">
                    <p>Organize a memorable event that will leave a lasting impression on your brothers and sisters in the Lord.
</p>
                    </div>
                    <div class="card-action">
                      <a href="home/event">c  reate An Event</a>
                    </div>
                  </div>
                </div>
              </div>  
            </div>  
          </div>
        </div>


      </div>
    <!--   image with description -->

     <div class="image-box">
  <div class="image-container">
    <img width="200" height="150" src="http://lorempixel.com/200/150/food/1" alt="Food">
  </div>
  <div class="image-details">
    <h4>Lorem Ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna...</p>
  </div>
</div>

<div class="image-box">
  <div class="image-container">
    <img width="200" height="150" src="http://lorempixel.com/200/150/food/2" alt="Food">
  </div>
  <div class="image-details">
    <h4>Lorem Ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna...</p>
  </div>
</div>



      <!--   post and create new post here. -->

      <div class="col s12 m7">
        <div class="postpg">
          <p id="notice"><%= notice %></p>
          <div id="encourag">gof
            <h4>Words of encouragement</h4>

            <table>
              <thead>
                <tr>
                 <div class="row">
                   <div class="container">
                    <div class="col s7">
                      <th style="font-size:35px;color:orange;font-family:impact;">Title</th>
                    </div>
                    <div class="col s5">
                      <th style="font-size:45px; color:orange;font-family:impact;padding-left:50px;">Content</th>
                    </div>

                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @posts.each do |post| %>
                  <tr>
                    <td class="title"><%= post.title %></td><br/>

                    <td class="content"><br /><%= post.content %></td><br>
                    <td></td></td>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>

            <br>
          </div>

          <%= link_to 'New Post', new_post_path %>
        </div>
      </div>   
    </div>
  </div>



