<!DOCTYPE html>
<html>
  <head>
    <title>News</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- Latest compiled and minified CSS -->
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
          
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
          

  <body>
  <% if user_signed_in? %>
  <%= current_user.name %>


<button class="waves-effect btn" style="background-color:#d7ccc8;">
<div id="signout">
   <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete' %>

  
   </div>
  </button> 
  <button class="waves-effect btn" style="background-color:#d7ccc8;">

    <%= link_to 'Home', posts_path %>
     </button>
  
   <br>

  <% end %>
    
    <%= yield %>
  </body>
</html>
